[default]
aws_access_key_id = {{personal_aws_access_key_id}}
aws_secret_access_key = {{personal_aws_secret_access_key}}


[work]
aws_access_key_id = {{work_aws_access_key_id}}
aws_secret_access_key = {{work_aws_secret_access_key}}
