---
authentication:
  access_token: {{do_access_token}}
ssh:
  ssh_user: root
  ssh_key_path: "~/.ssh/id_rsa"
  ssh_port: '22'
defaults:
  region: fra1
  image: ubuntu-15-10-x64
  size: 512mb
  ssh_key: '1606037'
  private_networking: 'false'
  backups_enabled: 'false'
